body{
    margin: 0;
}

#gameSection{
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
    background-color: rgb(69, 65, 65);
}

#game-board{
    background-color: #ccc;
    width: 100%;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20,1fr);
    
    background-image: url(./imges/alien-planet-game-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}



.tile {
    width: calc(100% );
    height: calc(100% );
}

#grass , 
#tree,
#rock{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.grass {
    background-image: url('./imges/grass.jpg');
    background-size: cover;
}

.tree {
    background-image: url('./imges/download.jfif');
    background-size: cover;
}

.rock {
    background-image: url('./imges/gratis-png-negro-y-rojo-minecraft-textura-mapeo-lava-graficos-por-ordenador-en-3d-rock-textura.png');
    background-size: cover;
}

.empty{
    background-color: transparent;
}

button {
    padding: 10px;
    margin: 5px;
    width: 120px;
    height: 120px;
  }

  .materials{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .materials h1{
    text-align: center;
  }

  .tools{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }


  .tools button.selected {
    border: 2px solid rgb(229, 25, 25);
    border-radius: 5px; 
}

.materials h1.selected {
    border: 2px solid yellow; 
    border-radius: 5px; 
}

#landingSection{
    background-image: url('./imges/minecraft-background.jpg');
    background-size: cover;
    height: 100vh;
}

.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    font-size: 30px;
    font-family: monospace;
}

.landing h1{
 background-image: url(./imges/grass.jpg);
 background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 400;
}

.landing p{
    background-image: url(./imges/download.jfif);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 400;
}

.landing button{
    background-image: url(./imges/gratis-png-negro-y-rojo-minecraft-textura-mapeo-lava-graficos-por-ordenador-en-3d-rock-textura.png);
    width: 240px;
    font-size: 100%;
    color: white;
}